
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .container{
        width: 100%;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .logo {
        font-size: 3rem;
        display: block;
        text-align: center;
        width: 100%;
    }
    ul{
        padding-left: 9rem;
    }
    .btn{
        margin-right: 23rem;
        margin-top: 1rem;
    }
    .information{
        margin-left: 10rem;
    }
  }
  
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .container{
        width: 100%;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .logo {
        font-size: 3rem;
        line-height: 3.2rem;
        display: block;
        text-align: center;
        width: 100%;
    }
    ul{
        flex-direction: column;
        padding-left: 9rem;
    }
    .btn {
        margin-right: 15rem;
    }
    .information {
        padding-top: 1rem;
        padding-left: 4rem;
  }
  .main-img {
    width: 100%;
}
.main-content {
    margin-top: 1rem;
    width: 100%;
}
  .relative-email {
    width: auto;
  }
  .inf-mail form {
    width: 50%;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .container{
        width: 100%;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .logo {
        font-size: 3rem;
        line-height: 3.2rem;
        display: block;
        text-align: center;
        width: 100%;
    }
    ul{
        flex-direction: column;
        padding-left: 0;
    }
    .btn {
        margin-right: 15rem;
    }
    .information {
        padding-top: 1rem;
        padding-left: 4rem;
  }
  .main-img {
    width: 100%;
}
.main-content {
    margin-top: 1rem;
    width: 100%;
}
  .relative-email {
    width: auto;
  }
  .abbsulate-submit{
    position: unset;
  }
  .inf-mail form {
    width: 50%;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }    
  }